
{% extends 'main/main_html.html' %}

{% block content %}
    <h3> {{ lab }} </h3>

    <h4> Completed Tasks </h4>
    {% for task in completed %}    
        {{ task }} <br>
    {% endfor %}
    <br>
    <h4> To Be Completed</h4>
    <!-- <form method="POST">
        {% csrf_token %}
        {% for todo in todos %}
            <input id={{todo.id}} type="checkbox"> {{todo}} </input> <br>
        {% endfor %}
        <button type="submit" > Submit Changes </button>
    </form> -->

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit" > Submit Changes </button>
    </form>


{% endblock %}